export WEBHOOK_URL="incoming webhook URL"
export WEBHOOK_URL_DEV="development incoming webhook URL (i.e. testing channel)"
export OTRS_URL="https://otrs.mydomain.de/otrs/index.pl?Action=AgentTicketZoom;TicketID="

export MYSQL_HOST="localhost"
export MYSQL_PORT="3306"
export MYSQL_USER="otrs-read-only"
export MYSQL_PASS="secret"
export MYSQL_DB="otrs"
